*{
    margin:0;
    padding: 0;
}
@font-face {
	font-family: 'Audiowide';
        src:  url(./fonts/Audiowide-Regular.ttf) format(truetype);
    }
.Card-legend{
    height: 13em;
    width: 12em;
    border-style: solid;
    border-color: #d8c444;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.Name-card-legend{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Name-card-legend1{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.playerImg{
    height: 100%;
    width: 100%;
}
.Card-legend1{
    height: 13em;
    width: 12em;
    border-style: solid;
    border-color: #d8c444;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
