*{
    margin:0;
    padding: 0;
}
@font-face {
	font-family: 'Audiowide';
        src:  url(./fonts/Audiowide-Regular.ttf) format(truetype);
    }
.Games{
    background-color: rgb(83, 81, 81);
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.Games-header{
    height: 15em;
    width: 100%;
    background-image:url('./images/parquet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h1 {
    color: #d8c444;
    text-shadow: 4px 2px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: #d8c444;
    font-size: 30px;
    text-shadow: 3px 1px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
p {
    color: #ffffff;
    text-shadow: 2px 1px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}

.Onegoat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Games-main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 35%;
    font-size: 80px;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Games-subtitle{
    width: 20em;
    display: flex;
    justify-content: space-around;
}
.Body-games{
    background-image:url('./images/jordanfond.jpg');
}
.Card-legend-container{
    
    border-color: #d8c444;
    height: 30em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}
.Card-legend-contain{
    height: 14em;
    width: 28em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    flex-wrap: nowrap;
}
.Card-legend{
    height: 13em;
    width: 12em;
    border-style: solid;
    border-color: #d8c444;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.Name-card-legend{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Name-card-legend1{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.playerImg{
    height: 100%;
    width: 100%;
}
.Card-legend1{
    height: 13em;
    width: 12em;
    border-style: solid;
    border-color: #d8c444;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.buttonVs {
    height: 3em;
    width: 3em;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
    background-color: #fcfafa00;
    color: #d8c444;
    border-color: #d8c444;
}
.GamesPageButtons{
    display: flex;
    background-color: #7fffd408;
    flex-direction: row;
    justify-content: center;
}
.PageButtons{
    height: 2em;
    width: 2em;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
    background-color: #fcfafa00;
    color: #d8c444;
    border-color: #d8c444;

}
