*{
    margin:0;
    padding: 0;
}
.Games{
    background-color: rgb(83, 81, 81);
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #d8c444;
}
.Games-header{
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h1 {
    color: #ffffff;
}
h2{
    color: #f2d5af;
}
p {
    color: #ffffff;
}

.Onegoat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Games-main-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: #ab9980;
    border-color: #d8c444;
    height:25%;
    width:35%;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Games-subtitle{
    width: 25vh;
    display: flex;
    justify-content: space-around;
}

.Card-legend-container{
    background-image:url('./images/jordanfond.jpg');
    border-color: #d8c444;
    height: 30em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}
.Card-legend-contain{
    height: 14em;
    width: 26em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(253, 253, 253);
    padding: 3px;
}
.Card-legend{
    height: 13em;
    width: 12em;
    border-style: double;
    border-color: #d8c444;
    border-width: 5px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
.Name-card-legend{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
}
.Name-card-legend1{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
}
.playerImg{
    height: 100%;
    width: 100%;
}
.Card-legend1{
    height: 13em;
    width: 12em;
    border-style: double;
    border-color: #d8c444;
    border-width: 5px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
.buttonVs {
    height: 3em;
    width: 3em;
    font-style: italic;
    font-weight: bold;
    background-color: #fcfafa00;
    color: #d8c444;
    border-color: #d8c444;
}
