.bghome {
/* display: flex; */
  background-image: url('../components/image/the-goat-BG.jpg');
  /*top: 0; 
  left: 0; 
  
  width: 100vw;
  height: 100vw;
 
 
}

img.fondecran { */
  /* On met en place le fond d'écran */
 
  /* On indique un redimensionnement proportionnel */
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  
  background-position: 50%;
  position: fixed;
 }
