.myButton {
    position: absolute;
    top: 30%;
    right: 37%;
    
    background-image: url('../assets/ballon-startgame.png');
    background-repeat: no-repeat;
    
    cursor: pointer;
    
    background-size: contain;
    
    margin-top: 3em;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
}

