.myButton img{
    position: absolute;
    top:  89%;
    right: 47%;
    width : 8%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

img{
    max-width: 100%;
    height: auto;
    background-size: cover;
 
}
img:hover{
    animation-name: img;
    animation-timing-function: ease;
}
@keyframes img {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
} 
body {
    overflow: hidden;
}