*{
    margin:0;
    padding: 0;
}
@font-face {
	font-family: 'Audiowide';
        src:  url('../fonts/Audiowide-Regular.ttf') format(truetype);
    }
.teams {
    background-color: rgb(83, 81, 81);
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
  }
.teams-header {
    height: 15em;
    width: 100%;
    background-image: url('../assets/jordanfond.jpg');
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
      
  }
h1 {
  font-size: 80px;
    color: #d8c444;
    text-shadow: 4px 2px 0px #282c34;
    font-family: 'Audiowide';
    src:  url('../fonts/Audiowide-Regular.ttf') format(truetype);
}
.Onegoat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: #d8c444;
    font-size: 40px;
    text-shadow: 3px 1px 0px #282c34;
    font-family: 'Audiowide';
        src:  url('../fonts/Audiowide-Regular.ttf') format(truetype);
}
.teams-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 35%;
    font-size: 80px;
    font-family: 'Audiowide';
        src:  url('../fonts/Audiowide-Regular.ttf') format(truetype);
}



.body-teams{
  background-image: url('../assets/jordanfond.jpg');
  width: 100vw;
  height: 100%;

}
.card-teams-container{
    border-color: #d8c444;
    height: 30em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
  
}

  .title-card{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Audiowide';
        src:  url('../fonts/Audiowide-Regular.ttf') format(truetype);
    
  }
  .list-card{
    height: 24em;
    width: 28em;
    border-style: solid;
    border-color: #d8c444;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly
  }
  
.teamsMapButtons{
    display: flex;
    background-color: #d8c444;
    justify-content: center;
}
/* --ClassName de Map.js Map 1 et 2 */
.Map2{
  background-image: url(../assets/04_maps.png);
  height: 5em;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Audiowide';
        src:  url(../fonts/Audiowide-Regular.ttf) format(truetype);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
}
.Map1{
  position:fixed;
    top:18%;
    left:10%;
  width: 80%;
  height: auto;
}