*{
    margin:0;
    padding: 0;
}
@font-face {
	font-family: 'Audiowide';
        src:  url(./fonts/Audiowide-Regular.ttf) format(truetype);
    }
.Versus-header{
    width: 100%;
    background-image:url('./images/parquet\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15em;
}
h1 {
    color: #d8c444;
    text-shadow: 4px 2px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: #d8c444;
    font-size: 30px;
    text-shadow: 3px 1px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
p {
    color: #ffffff;
    text-shadow: 2px 1px 0px #282c34;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Versus-main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 35%;
    font-size: 80px;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Versus-subtitle{
    width: 20em;
    display: flex;
    justify-content: space-around;
}
.Onegoat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Body-versus{
    background-image:url('./images/versusBG01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Versus-legend-container{    
    border-color: #d8c444;
    height: 32em;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}
.Versus-legend{
    height: 32em;
    width: 18em;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.Versus-legend-name{
    padding: 2px;
    height: 2em;
    width: 100%;
    font-size: 32px;
    text-align: center;
    text-shadow: -1px 2px #070707;
    color: #ffffff;
}
.Image-Versus-legend{
    height: 30em;
}
.Versus-legend-stats{
    border-color: #d8c444;
    border-style: solid;
    border-width: 2px;
    background-color:#d8c44454;
    padding: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 13em;
    height: 30em;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;

}
.Stats-h3{
    border-color: #d8c444;
    border-width: 2px;
    text-align: center;
    text-shadow: -1px 2px #070707;
    color:#d8c444;
    width: 10em;
    height: 5em;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;

}
.Vote-versus-legend{
    border-color: #d8c444;
    background-color: #d8c44454;
    text-shadow: -1px 2px #070707;
    color: #ffffff;
    width: 5em;
    height: 2em;
    font-size: 30px;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;

}
.Versus-legend1-stats{
    border-color: #d8c444;
    border-style: solid;
    border-width: 2px;
    background-color:#40564c7d;
    text-align: right;
    padding: 1px;
    width: 13em;
    height: 30em;
    display: flex;
    text-align: right;
    padding: 1px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;

}
.Vote-versus-legend1{
    border-color: #d8c444;
    background-color: #40564c7d;
    text-shadow: -1px 2px #070707;
    color: #ffffff;
    width: 5em;
    height: 2em;
    font-size: 30px;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;

}
.Name-versus-legend{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.Name-versus-legend1{
    background-color: #d8c444;
    width: 100%;
    text-align: center;
    font-family: 'Audiowide', Georgia, 'Times New Roman', Times, serif;
}
.playerImg{
    height: 100%;
    width: 100%;
}
.Versus-legend1{
    height: 32em;
    width: 18em;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.Versus-legend1-name{
    padding: 2px;
    height: 2em;
    width: 100%;
    font-size: 32px;
    text-align: center;
    text-shadow: -1px 2px #070707;
    color: #ffffff;
}
.Image-Versus-legend1{
    height: 30em;
}